# Put in /etc/systemd/system/docker-compose.service
[Unit]
Description=Start Docker Compose
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/docker-compose
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f ${DOCKER_COMPOSE_YML} start
ExecStop=/usr/bin/docker-compose -f ${DOCKER_COMPOSE_YML} stop

[Install]
WantedBy=multi-user.target